
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Victory Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Areas/AdminPanel/Data/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Areas/AdminPanel/Data/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Areas/AdminPanel/Data/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Areas/AdminPanel/Data/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Areas/AdminPanel/Data/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Areas/AdminPanel/Data/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <div class="row">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
                    <div class="row w-100">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-dark text-left p-5">
                                <h2>Login</h2>
                                <h4 class="font-weight-light">Hello! let's get started</h4>
                                <form action="@Url.Action("Login","AdminAccount")" method="post" class="pt-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Username</label>
                                        <input type="email" name="AdminEmail" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                        <i class="mdi mdi-account"></i>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" name="AdminPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        <i class="mdi mdi-eye"></i>
                                    </div>
                                    <div class="mt-5">
                                        <input type="submit" class="btn btn-block btn-warning btn-lg font-weight-medium" value="Login"/>
                                    </div>
                                    <div class="mt-3 text-center">
                                        <a href="#" class="auth-link text-white">Forgot password?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Areas/AdminPanel/Data/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Areas/AdminPanel/Data/js/off-canvas.js"></script>
    <script src="~/Areas/AdminPanel/Data/js/hoverable-collapse.js"></script>
    <script src="~/Areas/AdminPanel/Data/js/misc.js"></script>
    <script src="~/Areas/AdminPanel/Data/js/settings.js"></script>
    <script src="~/Areas/AdminPanel/Data/js/todolist.js"></script>
    <!-- endinject -->
</body>
</html>
